on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm64]
        exclude:
          - goarch: "386"
            goos: darwin
          - goarch: arm64
            goos: windows
          - goarch: "386"
            goos: windows
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get OS and arch info
        id: vars
        run: |
          VER=$(echo '${{ github.event.release.tag_name }}' | grep -oE '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}')
          GITHASH=$(git rev-parse --short HEAD)
          BUILDENV=$(go version | cut -d' ' -f 3,4 | sed 's/ /_/g')
          BUILDTIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          LDFLAGS="-s -w \
            -X=github.com/helviojunior/randmap/internal/version.Version=$VER \
            -X=github.com/helviojunior/randmap/internal/version.GitHash=$GITHASH \
            -X=github.com/helviojunior/randmap/internal/version.GoBuildEnv=$BUILDENV \
            -X=github.com/helviojunior/randmap/internal/version.GoBuildTime=$BUILDTIME"

          echo "LDFLAGS=$LDFLAGS" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            ca-certificates jq curl python3

      - name: Update nmap protocols
        run: |
          python3 update_nmap_services.py

      - name: Update go.sum
        run: |
          go mod tidy

      - uses: wangyoucao577/go-release-action@v1.53
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: "https://dl.google.com/go/go1.23.5.linux-amd64.tar.gz"
          ldflags: ${{ steps.vars.outputs.LDFLAGS }}


